.container {
  height: inherit;
  margin: 2px;
  border: solid 1px rgb(95, 158, 160);
}

.header {
  height: 30%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: rgb(95, 158, 160);
}

.content {
  height: 90%;
}

.wrapper {
  height: inherit;
  display: flex;
  background-color: rgb(224, 255, 255);
  font-size: x-large;
}

.leftContent {
  width: 100%;
  text-align: center;
  border-right: solid 1px rgb(95, 158, 160);
  padding-top: 50px;
}

.rightContent {
  width: 100%;
  text-align: center;

  padding-top: 50px;
  position: relative;
}

.pageList {
  display: flex;
  justify-content: space-around;
  background-color: rgb(226, 223, 223);
  margin-bottom: 15px;
  height: 25px;
  align-items: center;
}

ul {
  list-style: none;
}

.input {
  margin-top: 10px;
}

.field {
  height: 25px;
}

.button {
  height: 29px;
  width: 60px;
}

#FH {
  margin-bottom: 30px;
}

#CH {
  margin-bottom: 30px;
}

p {
  margin: 10px;
}

.logo {
  color: white;
}

.date {
  text-decoration: underline;
}

.forecastListItem {
  margin-bottom: 50px;
}