
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo {
  color: white;
  margin: 20px 0 0 20px;
}

.input {
  margin: 20px 100px 0 0;
}

.container {
    width: 100vw;
    height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  height: 80px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.leftContent {
  background-color: rgb(199, 81, 81);
}

.rightContent {
  background-color: rgb(91, 145, 55);
}

.pageList {
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
}

/*
.container {
  display: flex;
}*/
/*
.Container
{
    height: 100%;
}

    .Container:before
    {
        content: '';
        height: 100%;
        float: left;
    }

.Header
{
    margin-bottom: 10px;
    background-color: #6ea364;
}
.Content
{
    position: relative;
    z-index: 1;
}
    .Content:after
    {
        content: '';
        clear: both;
        display: block;
    }

.Wrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
}
    .Wrapper > div
    {
        height: 100%;
    }

.RightContent
{
    background-color: orange;
    float: right;
    margin-left: 10px;
}

.LeftContent
{
    background-color: purple;
    overflow: auto;
}
*/