.container {
  height: inherit;
  margin: 2px;
}

.header {
  height: 30%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: rgb(30, 144, 255);
}

.content {
  height: 90%;
}

.wrapper {
  height: inherit;
  display: flex;
}

.leftContent {
  width: 100%;
  text-align: center;
  background-color: rgba(175, 240, 231, 0.842);
  padding-top: 50px;
}

.rightContent {
  width: 100%;
  text-align: center;
  background-color: rgb(176, 196, 222);
  padding-top: 50px;
}

.pageList {
  display: flex;
  justify-content: space-around;
  background-color: rgb(226, 223, 223);
}

ul {
  list-style: none;
}

.input {
  margin-top: 10px;
}

.field {
  height: 25px;
}

.button {
  height: 29px;
  width: 60px;
}

#FH {
  margin-bottom: 30px;
}

#CH {
  margin-bottom: 30px;
}

p {
  margin: 10px;
}

.logo {
  color: white;
}